*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #08008f,
        #7c3aed
    );
    padding: 20px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-box{
    background-color: white;
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
}

.forgot-box h1{
    margin-bottom: 10px;
    color: #333;
}

.forgot-box p{
    color: #545454;
    margin-bottom: 30px;
    line-height: 1.6;
}

.input-group{
    text-align: left;
    margin-bottom: 25px;
}

.input-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #545454;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus{
    border-color: #08008f;
    box-shadow: 0 0 8px rgba(79, 70, 229, 0.3);
}

button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #08008f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #4338ca;
    transform: translateY(-2px);
}

.back-login{
    margin-top: 25px;
}

.back-login a{
    text-decoration: none;
    color: #0000EE;
    font-weight: bold;
}

.back-login a:hover{
    text-decoration: underline;
}

@media (max-width: 480px){
    .forgot-box{
        width: 100%;
        padding: 30px;
    }
}