*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        #08008f,
        #7c4aed
    );
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box{
    background-color: white;
    width: 450px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-box h1{
    margin-bottom: 10px;
    color: #333;
}

.register-box p{
    margin-bottom: 20px;
    color: #545454;
}

.input-group{
    text-align: left;
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #545454;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus{
    border-color: #08008f;
    box-shadow: 0 0 8px rgba(79, 70, 229, 0.3);
}

.terms{
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #545454;
}

.terms input[type="checkbox"]{
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-bottom: 8px;
    cursor: pointer;
}

button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #08008f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #4338ca;
    transform: translateY(-2px);
}

.login-link{
    margin-top: 25px;
    color: #545454;
}

.login-link a{
    color: #0000EE;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover{
    text-decoration: underline;
}